name: Deploy Flask Backend to EC2

on:
  workflow_run:
    workflows: ["CI"]       # Name of your CI workflow
    types:
      - completed

jobs:
  deploy:
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.event == 'push' &&
      (
        github.event.workflow_run.head_branch == 'main' ||
        github.event.workflow_run.ref == 'refs/heads/main'
      )
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout the repo
      - name: Checkout code
        uses: actions/checkout@v4

      # Download artifacts from CI workflow
      - name: Download wheel artifact
        uses: actions/download-artifact@v4
        with:
          name: wheel
          path: ./artifacts

      - name: Download tar artifact
        uses: actions/download-artifact@v4
        with:
          name: app-tar
          path: ./artifacts

      # Upload tar package to EC2
      - name: Upload tar package to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "./artifacts/app.tar.gz"
          target: "~/deployments"

      # Upload wheel package to EC2
      - name: Upload wheel package to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "./artifacts/*.whl"
          target: "~/tmp"

      # SSH into EC2 and deploy
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo "Starting backend deployment..."

            # Move to backend app folder
            cd ~/backend/app

            # Extract updated code
            TMP_DIR="$(mktemp -d)"; \
            tar -xzf ~/deployments/app.tar.gz -C "$TMP_DIR"; \
            sudo rsync -avz --delete \
              --exclude 'venv/' --exclude '.venv/' \
              --exclude 'pycache/' --exclude '.pyc' --exclude '.log' \
              "$TMP_DIR"/ /srv/model-registry/backend/; \
            rm -rf "$TMP_DIR"

            # Install/update dependencies using editable dev install
            /srv/model-registry/backend/venv/bin/pip install —no-cache-dir —upgrade “~/tmp/*.whl”

            # Restart Gunicorn service
            sudo systemctl restart gunicorn

            # Restart NGINX if needed
            sudo systemctl restart nginx

            echo "Backend deployment complete"
